@font-face {
    font-family: 'GothicFont';
    src: url("https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/GOTHIC.TTF?v=1708511916059") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: 'GothicFont', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/main.jpg?v=1708512120963");
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-left: 60px;
    margin-bottom: 20px;
    font-size: 24px;
}

.button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.button {
    flex: 0 0 calc(50% - 20px);
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #222;
    border: 2px solid #444;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.button:hover {
    background-color: #333;
    border-color: #fff;
    animation: rotateButton 5s linear infinite;
}

.container {
    perspective: 1000px;
}

.scene {
    transform-style: preserve-3d;
    animation: rotateScene 10s linear infinite;
}

.line {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #4CAF50;
    opacity: 0.8;
    transform-origin: 0% 0%;
    animation: moveLine 5s linear infinite;
}

@keyframes rotateScene {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes moveLine {
    0% {
        transform: scaleX(0);
    }
    25% {
        transform: scaleX(1);
    }
    75% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

@keyframes rotateButton {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 2;
}

.nav-container {
    display: flex;
}

.nav-container div {
    margin-right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #111;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  border-color: #fff;
}

.nav-container div:hover {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

.panel {
    position: absolute;
    top: 100%;
    right: 2px;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 5px;
    padding: 10px;
    display: none;
    flex-direction: column;
    z-index: 3;
}
.panel a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.panel a:hover {
    background-color: #555;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2px;
}

@media (max-width: 600px) {
    .button-box {
        flex-direction: column;
        align-items: center;
    }

    .button {
        flex: 0 0 100%;
        margin-bottom: 10px;
    }
}

.panel hr {
    border: none;
    height: 1px;
    background-color: #fff;
    margin: 10px 0;
}

#predmetyButton {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s, color 0.3s;
}

#predmetyButton:hover {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

#podporaButton {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s, color 0.3s;
}

#podporaButton:hover {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

#prihlaseniButton {
    margin: 0 20px 0 0;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #006115; 
    color: #fff;
    border: 2px solid #000000; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#prihlaseniButton:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000000;
}







.dropdown {
    position: relative;
}

.dropdown:hover .panel {
    display: block;
}