@font-face {
    font-family: 'GothicFont';
    src: url("https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/GOTHIC.TTF?v=1708511916059") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1e1e1e;
    font-family: 'GothicFont', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/main.jpg?v=1708512120963");
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #4caf50;
    text-decoration: none;
}

a:hover {
    color: #45a049;
}


.error-message {
    color: red;
    font-weight: bold;
}

.try-again-message {
    color: red;
    font-style: italic;
}