@font-face {
    font-family: 'GothicFont';
    src: url('../fonts/GOTHIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1e1e1e;
    font-family: 'GothicFont', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../IMAGES/main.jpg');
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    color: #333;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Optional: Add some spacing to the top of the form */
form {
    margin-top: 50px;
}