<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aktuality</title>
    <link rel="stylesheet" href="/aktuality.css">
    <link rel="icon" type="image/jpeg" href="https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/ikona.png?v=1708512114981">
</head>
<body>
    <header>
        <div class="header-napis">
            <h2>Aktuality</h2>
        </div>
        <div class="header-button">
            <a href="/home">Zpět na hlavní stránku</a>
        </div>
    </header>

    <div class="aktuality-container">
        <div class="aktualita">
            <h2>Písemné práce</h2>
            <p>16. duben 2024	Písemná práce z českého jazyka a literatury<br>
 17. duben 2024	Písemná práce z cizího jazyka.</p>
        </div>

        <div class="aktualita">
            <h2>Didaktické testy společné části maturitní zkoušky</h2>
            <p>2. květen  2024	Didaktický test – Matematika<br>
 2. květen 2024	Didaktický test – Anglický jazyk<br>
 3. květen 2024	Didaktický test – Český jazyk a literatura<br>
 6. květen 2024	Didaktický test – Matematika rozšiřující – nepovinná zkouška<br>
 6. květen 2024	Didaktický test – Německý jazyk</p>
        </div>
        <div class="aktualita">
            <h2>Praktické zkoušky, obhajoby, ústní zkoušky</h2>
            <p>24.–28. květen 2024	–  Ústní část MZ<br>23. květen 2024 - Obhajoba maturitní práce</p>
        </div>
        <div class="button-container">
            <a href="https://www.sstebrno.cz/informace-pro-maturitni-zkousky" class="button">Oficiální informace k maturitě na stránkách školy (tohle je tlačítko)</a>
        </div>
    </div>
     <script src="../script.js"></script>
    
    <footer>
        <p>Simon Veselý, Adam Vágner - IT4B</p>
    </footer>
</body>
</html>
