<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <link rel="icon" type="image/jpeg" href="https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/ikona.png?v=1708512114981">
    <title>Helpdesk</title>
</head>
<body> 
  <header>
        <h1>Maturitní Helpdesk</h1>
        <div class="nav-container">
            <div class="dropdown" id="predmetyButton">
                <span>Předměty</span>
                <div class="panel" id="menupredmety">
                    <a href="/swa">Software a webové aplikace</a>
                    <a href="/pog">Počítačová grafika</a>
                    <a href="/pos">Počítačové sítě</a>
                    <a href="/prg">Programování</a>
                </div>
            </div>
            <div class="dropdown" id="podporaButton">
                <span>Podpora</span>
                <div class="panel" id="menupodpora">
                    <a href="https://maturitnihelpdesk.wuaze.com/FORUM/forum.html?i=1">Forum</a>
                    <a href="/aktuality">Aktuality</a>
                    <a href="/psycho">Psychologická poradna</a>
                    <a href="/jknamt">Jak na maturitu</a>
                    <a href="/kontakty">Kontakty</a>
                    <a href="/cdotazy">Časté otázky</a>
                </div>
            </div>
            <a id="prihlaseniButton" href="/">Odhlásit se</a>
        </div>
    </header>
  <div class="button-container">
        <a href="/swa" class="button">Software a webové aplikace</a>
        <a href="/pog" class="button">Počítačová grafika</a>
        <a href="/pos" class="button">Počítačové sítě</a>
        <a href="/prg" class="button">Programování</a>
    </div>
  <footer>
        <p>Simon Veselý, Adam Vágner - IT4B</p>
        <p>Visitor Count: {{visitorCount}}</p>
    </footer>

</body>
</html>