<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <link rel="icon" type="image/jpeg" href="https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/ikona.png?v=1708512114981">
    <title>Helpdesk</title>
</head>
<body> 
  <header>
        <h1>Maturitní Helpdesk</h1>
        <div class="nav-container">
            <div class="dropdown" id="predmetyButton">
                <span>Předměty</span>
                <div class="panel" id="menupredmety">
                    <a href="SWA/page1.html">Software a webové aplikace</a>
                    <a href="POG/page2.html">Počítačová grafika</a>
                    <a href="POS/page3.html">Počítačové sítě</a>
                    <a href="PRG/page4.html">Programování</a>
                </div>
            </div>
            <div class="dropdown" id="podporaButton">
                <span>Podpora</span>
                <div class="panel" id="menupodpora">
                    <a href="FORUM/forum.html">Forum</a>
                    <a href="AKTUALITY/aktuality.html">Aktuality</a>
                    <a href="PSYCHO/PSYCHO.html">Psychologická poradna</a>
                    <a href="JKNAMT/jknamt.html">Jak na maturitu</a>
                    <a href="KONTAKTY/kontakty.html">Kontakty</a>
                    <a href="CDOTAZY/cdotazy.html">Časté otázky</a>
                </div>
            </div>
            <a id="prihlaseniButton" href="/">Odhlásit se</a>
        </div>
    </header>
  <div class="button-container">
        <a href="SWA/page1.html" class="button">Software a webové aplikace</a>
        <a href="POG/page2.html" class="button">Počítačová grafika</a>
        <a href="POS/page3.html" class="button">Počítačové sítě</a>
        <a href="PRG/page4.html" class="button">Programování</a>
    </div>
  <footer>
        <p>Simon Veselý, Adam Vágner - IT4B</p>
        <p>Visitor Count: {{visitorCount}}</p>
    </footer>

</body>
</html>