<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psychologická poradna</title>
    <link rel="stylesheet" href="/jknamt.css">
    <link rel="icon" type="image/jpeg" href="https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/ikona.png?v=1708512114981">
</head>
<body>
    <header>
        <div class="header-napis">
            <h2>Jak na maturitu</h2>
        </div>
        <div class="header-button">
            <a href="/home">Zpět na hlavní stránku</a>
        </div>
    </header>

    <div class="maturita-container">
        <main>
        <h2>Jak na maturitu: Krok za krokem návody jak se připravit na jednotlivé předměty</h2>

        <p>
            Před maturitou je klíčové mít dobré plány a strategie pro přípravu na každý předmět. Zde naleznete podrobné návody a tutoriály,
            které vás provedou procesem přípravy krok za krokem. 
        </p>
        <p>
            Nechte se inspirovat a získáte ucelený přehled o tom, jak úspěšně zvládnout maturitu.
        </p>

        <h3>Obsah:</h3>

        <ul>
            <li><strong>Český jazyk a literatura:</strong> Strategie pro čtení a analýzu textů, psaní esejí a zkouškových otázek.</li>
            <li><strong>Matematika:</strong> Průvodce řešením matematických úloh a přípravou na teoretickou část zkoušky.</li>
            <li><strong>Cizí jazyk:</strong> Metody pro zdokonalení komunikace, gramatiky a slovní zásoby ve vybraném jazyce.</li>
            <li><strong>Volitelné předměty:</strong> Návody pro předměty dle vašeho výběru, abyste dosáhli co nejlepších výsledků.</li>
        </ul>

        <p>
            Maturita může být náročná, ale s dobře promyšlenou přípravou a pomocí našich návodů budete připraveni na výzvy,
            které na vás čekají. Hodně úspěchů ve vaší maturitní zkoušce!
        </p>
    </main>
    </div>
     <script src="../script.js"></script>
    
    <footer>
        <p>Simon Veselý, Adam Vágner - IT4B</p>
    </footer>
</body>
</html>