<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakty</title>
    <link rel="stylesheet" href="/kontakty.css">
    <link rel="icon" type="image/jpeg" href="https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/ikona.png?v=1708512114981">
</head>
<body>
    <header>
        <div class="header-napis">
            <h2>Kontakty</h2>
        </div>
        <div class="header-button">
            <a href="home">Zpět na hlavní stránku</a>
        </div>
    </header>

    <div class="contact-container">
        <div class="contact">
            <!--<img src="../IMAGES/ADAM.jpg"" alt="Adam's Photo"/>-->
            <h2>Vedoucí práce</h2>
            <p>Jméno: Adam Vágner</p>
            <p>Email: 58091vagner@student.sstebrno.cz</p>
        </div>

        <div class="contact">
            <!--<img src="../IMAGES/SIMON.webp"" alt="Simon's Photo"/>-->
            <h2>Otrok</h2>
            <p>Jméno: Simon Veselý</p>
            <p>Email: 58093vesely@student.sstebrno.cz</p>
        </div>
    </div>

<script src="../script.js"></script>
    
    <footer>
        <p>Simon Veselý, Adam Vágner - IT4B</p>
    </footer>
</body>
</html>
