<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
  </head>
  <body>
        <div class="container">
        <h2>Přihlášení</h2>

        <form action="/login" method="post">

        <input type="text" name="name" placeHolder="Jméno">
        <input type="password" name="password" placeHolder="Heslo">


{{#if errorMessage}}
    <p class="error-message">{{errorMessage}}</p>
    <p class="try-again-message">Zkuste prosím znovu.</p>
{{/if}}

        <input type="submit">


        </form>

        <a href="/signup">Nemáte účet? Vytvořte si ho zde.</a>
        </div>
  </body>
</html>