<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="/prg.css">
    <link rel="icon" type="image/jpeg" href="https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/ikona.png?v=1708512114981">
    <title>Programování</title>
</head>
<body>
     <div class="header-container">
        <div class="panel-header">
            <h2>Maturitní Helpdesk</h2>
        </div>
        <div class="panel-button">
            <a href="/home">Zpět na hlavní stránku</a>
        </div>
    </div>

    <div class="container">
        <h1>Programování</h1>
        <table>
            <tr onclick="openPDF('https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/PRG2_okruh1.pdf?v=1708691840871')">
                <td>Struktura programu v C#, proměnné, základní typy dat</td>
            </tr>
            <tr onclick="openPDF('https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/Okruh2_PRG1.pdf?v=1708692595749')">
                <td>Podmíněný příkaz if-else, switch.</td>
            </tr>
            <tr onclick="openPDF('historie.pdf')">
                <td>Cykly for, foreach, while, do-while</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Objektově orientovaný přístup, třídy, metody, atributy, konstruktor</td>
            </tr>
            <tr onclick="openPDF('historie.pdf')">
                <td>Dědičnost, polymorfismus, zapouzdření</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Projekt, řešení, komentáře, chybová hlášení, soubory projektu, ladění</td>
            </tr>
            <tr onclick="openPDF('historie.pdf')">
                <td>WPF, práce s formuláři</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Přehled základních komponent – využití, vlastnosti, události.</td>
            </tr>
            <tr onclick="openPDF('historie.pdf')">
                <td>Tvorba uživatelského rozhraní – menu, dialogová okna, panel nástrojů.</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Pole jednorozměrné a vícerozměrné</td>
            </tr>
            <tr onclick="openPDF('historie.pdf')">
                <td>Dynamické datové struktury – List, ObservableCollection, Dictionary.</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Binding, rozhraní INotifyPropertyChange</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Práce se soubory</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Výjimky.</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>WPF – XAML.</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Vektorová grafika v C#.</td>
            </tr>
        </table>
    </div>

    <script>
    function openPDF(pdfFileName) {
        const pdfPath = `${pdfFileName}`;
        window.open(pdfPath, '_blank');
    }
    </script>
</body>
</html>
