<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psychologická poradna</title>
    <link rel="stylesheet" href="psycho.css">
    <link rel="icon" type="image/jpeg" href="https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/ikona.png?v=1708512114981">
</head>
<body>
    <header>
        <div class="header-napis">
            <h2>Psychologická poradna</h2>
        </div>
        <div class="header-button">
            <a href="/home">Zpět na hlavní stránku</a>
        </div>
    </header>

    <div class="psycho-container">
        <main>
        <h2>Psychologická podpora: Rady pro zvládání stresu a nervozity před zkouškami</h2>

        <p>
            Před zkouškami může být stresující období, a je důležité vědět, jak se s tím vypořádat.
            Zde jsou některé rady pro zvládání stresu a nervozity:
        </p>

        <ul>
            <li><strong>Plánování a příprava:</strong> Vytvořte si realistický plán učení a přípravy na zkoušky.</li>
            <li><strong>Dostatek odpočinku:</strong> Dbáme na to, abyste dostali dostatek spánku, abyste byli mentálně i fyzicky svěží.</li>
            <li><strong>Relaxace a meditace:</strong> Zkuste techniky relaxace a meditace pro uklidnění mysli.</li>
            <li><strong>Fyzická aktivita:</strong> Pravidelná fyzická aktivita může pomoci snížit stres.</li>
            <li><strong>Podpora od ostatních:</strong> Hovořte s přáteli, rodinou nebo učiteli o svých obavách.</li>
        </ul>

        <p>
            Nezapomeňte, že je normální cítit stres před zkouškami a že existuje mnoho způsobů, jak s ním pracovat.
            Pokud se cítíte přetížení, obraťte se na odborníka nebo školního poradce.
        </p>
    </main>
    </div>
     <script src="../script.js"></script>
    
    <footer>
        <p>Simon Veselý, Adam Vágner - IT4B</p>
    </footer>
</body>
</html>