<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>
    <link rel="stylesheet" href="signup.css"/>
  </head>
  <body>

        <form action="/signup" method="post">

        <h2>Registrace</h2>


        <input type="text" name="name" placeHolder="Jméno">
        <input type="password" name="password" placeHolder="Heslo">
        <input type="submit">
        <p>Už máte účet?<a href="/">Přihlášení</a></p>

        </form>

  </body>
</html>