<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrace</title>
    <link rel="stylesheet" href="signup.css"/>
    <link rel="icon" type="image/jpeg" href="https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/ikona.png?v=1708512114981">
  </head>
  <body>

        <form action="/signup" method="post">

        <h2>Registrace</h2>


        <input type="text" name="name" placeHolder="Jméno">
        <input type="password" name="password" placeHolder="Heslo">
        <input type="submit">
          
          <a href="/">Už máte účet? Zpět na přihlášení.</a>

        </form>

  </body>
</html>