<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="/swa.css">
    <link rel="icon" type="image/jpeg" href="https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/ikona.png?v=1708512114981">
    <title>Software a webové aplikace</title>
</head>
<body>
     <div class="header-container">
        <div class="panel-header">
            <h2>Maturitní Helpdesk</h2>
        </div>
        <div class="panel-button">
            <a href="/home">Zpět na hlavní stránku</a>
        </div>
    </div>

    <div class="container">
        <h1>Software a webové aplikace</h1>
        <table>
            <tr onclick="openPDF("https://cdn.glitch.global/99ded2f5-70f6-473e-9ae1-c04ef66901dc/PRG2_okruh1.pdf?v=1708691840871">
                <td>Historie výpočetní techniky</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Hardware. Základní parametry osobních počítačů</td>
            </tr>
            <tr onclick="openPDF('historie.pdf')">
                <td>Software – rozdělení, kategorie a licence</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Operační systém – správa a ovládání OS</td>
            </tr>
            <tr onclick="openPDF('historie.pdf')">
                <td>Bezpečnost a zálohování. Nástroje a zásady</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Internet a služby</td>
            </tr>
            <tr onclick="openPDF('historie.pdf')">
                <td>Práce s textovým editorem. Tvorba dokumentu, formátování, stylování, struktury a objekty</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Práce s tabulkovým procesorem. Tvorba tabulky, řazení a filtrování dat, funkce, grafy</td>
            </tr>
            <tr onclick="openPDF('historie.pdf')">
                <td>Práce v prezentačním programu. Tvorba prezentace, zásady prezentování, vhodný obsah, vkládání multimédií</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Práce v databázovém programu. Tvorba databáze – tabulek, dotazů, formulářů a sestav</td>
            </tr>
            <tr onclick="openPDF('historie.pdf')">
                <td>Webové stránky – HTML a CSS</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Dynamické stránky – skriptovací jazyk PHP, JavaScript</td>
            </tr>
            <tr onclick="openPDF('historie.pdf')">
                <td>Návrh databází – modelování DB a jazyk SQL – příkazy, syntaxe a použití</td>
            </tr>
            <tr onclick="openPDF('hardware.pdf')">
                <td>Projektové řízení – činnosti, rezervy, kritická cesta, Ganntův graf, ovládání SW pro plánování činností, SW pro správu verzí, poskytování uživatelské podpory</td>
            </tr>
        </table>
    </div>

    <script>
    function openPDF(pdfFileName) {
        const pdfPath = `${pdfFileName}`;
        window.open(pdfPath, '_blank');
    }
</script>
</body>
</html>
